label{
	display: inline;
	font-size: 1.1em;
}

.edit, .borrar, .activar {
	font-size: .9em;
	font-weight: bold;
	display: inline;
	position: relative;
	padding: 5px;
	margin: 1px;
	border: 1px solid black;
	cursor: pointer;
}

.edit:hover {
	color: black;
	background: green;
}

.borrar:hover{
	color:black;
	background: red;
}

.activar:hover{
	color:black;
	background: blue;
}

#usuarios table tr {
    height: 30px;
    text-align: left;
}

#usuarios table td {
	padding: 5px;
	min-width: 100px;
}
#usuarios table thead {
	font-weight: bold;
}

#usuariosform table td {
	padding: 10px;
}

#usuarioslist {
	margin: 20px;
}

.error {
	color:red;
}